

@media only screen and (max-width:660px) {
    
    .mobile-nav-container {
        margin-left : 1px;
        margin-right: 1px;
        width : 100%;
        overflow: hidden;
    }
    .mobile-nav-language {
        display:none;
    }
    .mobile-nav-search-container {
        margin-left : 0px;
        width: 20vw;
    }
    .mobile-nav-input {
        width : 80%;
    }

    .mobile-nav-logo{
        font-size: 20px;
    }
    .mobile-nav-menu-item{
        margin-left: 3px;
    }
    .mobile-nav-container-item {
        flex : auto;
        margin-left: 2px;
    }
  }